body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;     /* vertical center */
    font-family: Arial;
    background: #f6e4d1;
    flex-direction: column;
}

#chatbox {
    width: 50%;
    height: 90vh;
    border-radius: 0 0 10px 10px;
    background: rgb(250, 193, 193);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-top: 1px solid #adacac;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.user {
    text-align: right;
    margin: 5px;
}

.bot {
    /* display: flex; */
    text-align: left;
    margin: 5px;
}

.bot img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.bubble {
    display: inline-block;
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.bot .bubble {
    background: #f1f0f0;
    border-radius: 18px 18px 18px 0px;
}

.user .bubble {
    background: #dcf8c6;
    border-radius: 18px 18px 0px 18px;
}

.bot .bubble {
    background: #f1f0f0;
}

#inputArea {
    display: flex;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 10px;
}

#inputArea input {
    flex: 1;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 10px;
}

#inputArea button {
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    background: #13c253;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.typing .bubble {
    opacity: 0.7;
    font-style: italic;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0.4; }
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}

.chat-header {
    background: #D1B6F1;
    color: white;
    padding: 18px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 47.5%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #adacac;
}